
.about-header {
   display: grid;
   grid-template-columns: 2fr 1fr;
   min-height: 200px;

   @include responsive(992px) {
      grid-template-columns: repeat(2, 1fr);
   }

   @include responsive(992px) {
      grid-template-columns: 1fr;
      grid-template-rows: 200px 160px;
   }

   &__info {
      background: rgb(38,33,97);
      background: linear-gradient(90deg, rgba(38,33,97,0.97) 0%, rgba(38,33,97,1) 40%);
      color: $lightColor;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__title {
      font-weight: 600;
      font-size: 2.5rem;
   }

   &__image {
      height: 100%;
      object-fit: cover;
   }
}