
.contact {
   padding-top: 4rem;
   padding-bottom: 6rem;

   &__header {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3rem;
   }
   
   &__title {
      font-weight: 600;
      color: $primaryColor;
      font-size: 2.25rem;
      margin-top: 0;
      position: relative;

      &:before {
         content: '';
         display: block;
         width: 340px;
         height: 0.25rem;
         border-radius: 1rem;
         background-color: $primaryColor;
         position: absolute;
         bottom: -0.85rem;
         left: 0;

         @include responsive(480px) {
            width: 240px;
         }
      }
   }

   &__subtitle {
      font-weight: 400;
      color: lighten($color: $darkColor, $amount: 30);
      display: block;
      font-size: 1.25rem;
   }

   &__main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2rem;
      width: 85%;
      margin-left: auto;
      margin-right: auto;

      @include responsive(992px) {
         width: 100%;
      }

      @include responsive(768px) {
         grid-template-columns: 1fr;
         grid-row-gap: 2rem;
      }
   }

   &__group {
      margin-bottom: 1.25rem;
   }

   &__input {
      display: block;
      width: 100%;
      height: 3rem;
      padding: 0.25rem 0.5rem;
      border: 1.5px solid $primaryColor;
      font-size: 1.05rem;
      font-weight: 600;

      &::placeholder {
         font-weight: 300;
      }

      &:focus,
      &:active {
         outline: none;
      }

      &--textarea {
         height: 7rem;
         resize: none;
      }
   }

   &__button {
      @extend .client-contact__button;
      background-color: $primaryColor;
      color: $lightColor;
   }

   &__info {
      background: rgb(38,33,97);
      background: linear-gradient(90deg, rgba(28,117,189,1) 0%, rgba(38,33,97,1) 80%);
      padding: 1.5rem 4rem;
      color: $lightColor;
   }

   &__description {
      font-size: 1.2rem;
      margin-bottom: 0.75rem;
   }

   &__media {
      margin-top: 2rem;
   }

   &__image {
      width: 8rem;
      margin-left: auto;
      margin-right: auto;
   }
}