
.goals {
   padding-top: 3rem;
   padding-bottom: 4rem;
   display: grid;
   grid-row-gap: 5rem;
}

.mission {
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-column-gap: 3rem;

   @include responsive(768px) {
      grid-template-columns: 1fr;
   }

   &__title {
      @extend .title;
   }

   &__description {
      font-size: 1.25rem;
      line-height: 1.6;
   }

   &__media {
      margin-top: 3rem;
   }
}

.vision {
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-column-gap: 3rem;

   @include responsive(768px) {
      grid-template-columns: 1fr;
      margin-top: 3rem;
   }

   &__title {
      @extend .title;
   }

   &__description {
      font-size: 1.25rem;
      line-height: 1.6;
   }

   &__media {
      margin-top: 3rem;
   }
}