
.goals {
   padding-top: 3rem;
   padding-bottom: 4rem;
   display: grid;
   grid-row-gap: 5rem;

   &.container {
      max-width: 900px;
   }
}

.mission {
   display: grid;
   grid-template-columns: repeat(2, 1fr);

   @include responsive(768px) {
      grid-template-columns: 1fr;
   }

   &__title {
      @extend .title;
   }

   &__description {
      font-size: 1.25rem;
      line-height: 1.6;
   }

   &__media {
      margin-top: 3rem;
      width: 20rem;
      margin-left: auto;
   }
}

.vision {
   display: grid;
   grid-template-columns: repeat(2, 1fr);

   @include responsive(768px) {
      grid-template-columns: 1fr;
      margin-top: 3rem;
   }

   &__title {
      @extend .title;
   }

   &__description {
      font-size: 1.25rem;
      line-height: 1.6;
   }

   &__media {
      margin-top: 3rem;
      width: 20rem;
      // margin: 0 auto;
   }
}

b {
   font-size: 1.25rem;
   margin-bottom: 1rem;
   display: block;
}

.valores-list {
   list-style: disc;
   font-size: 1.25rem;
   margin-left: 2rem;

   li {
      margin-bottom: 0.5rem;
   }
}